body {
  background-color: #B4D2D9;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #777A8C;
  margin-bottom: 30px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: #17736D;
}

h1{
  font-size: 50px;
  font-weight: bolder;
}

textarea, input{
  width: 100%;
  border-radius: 0px;
  border: 1px solid #F0F0F2;
  margin-bottom: 20px;
}

.posteo {
  color: #777A8C;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid #17736D;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: #72A1A6;
  text-align: center;
}
.rojo {
  color: #777A8C;
}
footer{
  padding: 10px;
}

/*botones*/
.botonsito{
  background: #72A1A6;
  color: #17736D;
  border: none;

}

.botonsito:hover{
  background-color: #777A8C;
  color: #F0F0F2;
}

/*inputs*/
*[placeholder] {
   color: #72A1A6 !important;
}

/*Titulos*/
h3{
  color: #17736D;
}

/*fotos*/
.port-image{
    width: 100%;
}

.gallery_product{
    margin-bottom: 30px;
}
/* Estilos comentarios */
